<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Sign up</h2>
        <br>

        <form name="desarrolladorForm" (ngSubmit)="createDesarrollador(desarrolladorForm.value)">
            <div class="form-group">
                <label for="nombre"><b>Nombre</b></label>
                <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="user.name" required>
            </div>	<div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('nombre').hasError('required') && 
            desarrolladorForm.get('nombre').touched">
            Nombre requerido
                </div>
                <div class="form-group">
                    <label for="edad"><b>Edad:</b> </label>
                    <input type="number" name="edad" class="form-control" id="nombre" [(ngModel)]="user.edad" required>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('edad').hasError('required') && 
          desarrolladorForm.get('edad').touched">
                    Edad requerida
          </div>
          <div class="form-group">
            <label for="cedula"> <b>Cedula:</b> </label>
            <input type="number" name="cedula" class="form-control" id="cedula" [(ngModel)]="user.cedula" required>
          </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('cedula').hasError('required') && 
  desarrolladorForm.get('cedula').touched">
         Cedula requerida
        </div>
        <div class="form-group">
            <label for="correo"><b>Correo:</b></label>
            <input type="email" name="correo" class="form-control" id="correo" [(ngModel)]="user.correo" required>
        </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('correo').hasError('required') && 
    desarrolladorForm.get('correo').touched">
  Correo requerido
            </div>
            <div class="form-group">
				<label for="tipo"><b>Tipo:</b> </label>
                <select class="custom-select" name="role" id="role" [(ngModel)]="user.role" required>
                    <option><b>Representante del Cliente</b></option> 
                    <option><b>Responsable</b></option> 
                    <option><b>Común</b></option>
                </select>
            </div>
       	
            <div class="form-group">
                <label for="role"><b>Role</b></label>
                <select class="custom-select" name="role" id="role" [(ngModel)]="user.role" required>
                    <option><b>Administrador</b></option> 
                <option><b>Cliente</b></option>
                </select>
            </div>
            <div class="justify-content-center align-self-center">
                <a routerLink= "/dashboard/inicio" routerLinkActive="active"> <button type="submit" [disabled]="desarrolladorForm.invalid" class="btn btn-primary"> Sign Up</button></a>
            </div>
        </form>
    </div>
</div>
