<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Sign-Up </h2>
        <br>
        <form [formGroup]="desarrolladorForm" (ngSubmit)="createDesarrollador(desarrolladorForm.value)">
             <div class="form-group mx-sm-3 mb-2">
                <label for="nombre">Nombre: </label>
                <input type="text" formControlName="nombre" class="form-control" id="nombre">
            </div>
                 <div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('nombre').hasError('required') && 
                 desarrolladorForm.get('nombre').touched">
                  Nombre requerido
                </div> 
                <div class="form-group mx-sm-3 mb-2">
                    <label for="edad">Edad: </label>
                    <input type="number" formControlName="edad" class="form-control" id="edad">
                </div>
                     <div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('edad').hasError('required') && 
                     desarrolladorForm.get('edad').touched">
                      Edad requerido
                    </div> 
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="cedula">Cedula: </label>
                        <input type="number" formControlName="cedula" class="form-control" id="cedula">
                    </div>
                         <div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('cedula').hasError('required') && 
                         desarrolladorForm.get('cedula').touched">
                          Cedula requerida
                        </div> 
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="correo">Correo: </label>
                            <input type="email" formControlName="correo" class="form-control" id="correo">
                        </div>
                             <div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('correo').hasError('required') && 
                             desarrolladorForm.get('correo').touched">
                              Correo requerido
                            </div> 
        
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="tipo">
                                  Rol:
                                </label>
                                  <select class="form-control" id="tipo" 
                                  rows="3"
                                  formControlName="tipo">
                                     <option *ngFor="let role of roles">{{role}}</option>
                                     </select>
                                </div>
                                 <div class="alert alert-danger alert-dismissible fade show" *ngIf="desarrolladorForm.get('tipo').hasError('required') && 
                                desarrolladorForm.get('tipo').touched">
                                  Rol requerido
                                </div> 
          
            
           
          
            <button class="button mx-sm-3 mb-2" type="submit" [disabled]="desarrolladorForm.invalid" class="btn btn-success">Sign up</button>
          
              
            </form>
          
    </div>
</div>

      
   
    
