<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Login</h2>
        <br>
        <form [formGroup]="logInForm" (ngSubmit)="logInUsuario(logInForm.value)">
           
            <div class="form-group mx-sm-3 mb-2">
                <label for="nombre">
                  Nombre:
                </label>
                  <select class="form-control" id="nombre" 
                  rows="3"
                  formControlName="nombre">
                     <option *ngFor="let e of desarrolladores" >{{e.nombre}}</option>
                     
                   </select>
                </div>
                 <div class="alert alert-danger alert-dismissible fade show" *ngIf="logInForm.get('nombre').hasError('required') && 
                logInForm.get('nombre').touched">
                  Nombre requerido
                </div> 
          
            <button class="button mx-sm-3 mb-2" type="submit" [disabled]="logInForm.invalid" class="btn btn-success">Log In</button>
          
              
            </form>
          
    </div>
</div>
