.masthead {
    height: 30vh;
    min-height: 30px;
    background-image: url('../img/banner.png');
    background-size: 40% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
