  
<div class="container-fluid">
  <div class= "row">
 
<h1>C13 - Requisitos  <img src="https://www.pinclipart.com/picdir/big/354-3540180_png-construction-project-icon-png-clipart.png"height="100" width="100"> </h1>


  

</div>
<h2>Organiza y maneja tus proyectos de desarrollo. Sencillo y sin estrés</h2>


      <a class= "nav-link active" routerLink="casos/list" routerLinkActive="active"><button type="button" class="btn btn-primary">Ver Casos de Uso</button></a>
    

      <a class= "nav-link active" routerLink="casos2" routerLinkActive="active"><button type="button" class="btn btn-primary">Crear Casos de Uso</button></a>

      
      <a class= "nav-link active" routerLink="desarrollador/list" routerLinkActive="active"><button type="button" class="btn btn-primary">Ver Desarrolladores Activos</button></a>
      
      <a class= "nav-link active" routerLink="iteracion/list" routerLinkActive="active"><button type="button" class="btn btn-primary">Ver iteraciones</button></a>

      <a class= "nav-link active" routerLink="requisito/list" routerLinkActive="active"><button type="button" class="btn btn-primary">Ver Requisitos</button></a>

      <a class= "nav-link active" routerLink="requisitoC" routerLinkActive="active"><button type="button" class="btn btn-primary">Crear requisito</button></a>

      <a class= "nav-link active" routerLink="equipodesarrollo/list" routerLinkActive="active"><button type="button" class="btn btn-primary">Ver Equipos de Desarrollo</button></a>

  <div class="container-fluid">
    <div class ="border m-5 row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>



</div>
