<h1>Hola mundo</h1>

      <a class= "nav-link active" routerLink="casos/list" routerLinkActive="active"><button type="button" class="btn btn-primary">Ver Casos de Uso</button></a>
    
      <a class= "nav-link active" routerLink="casos/form" routerLinkActive="active"><button type="button" class="btn btn-primary">Crear Casos de Uso</button></a>
  <div class="container-fluid">
    <div class ="border m-5 row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<app-desarrollador-list>
</app-desarrollador-list>

<ul class="nav">
<li class="nav-item">
  <a class="nav-link active" routerLink="requisito/list" routerLinkActive="active">Requisitos</a>
</li>
</ul>
<div class="container-fluid">
<div class="border m-5 row">
  
  <div class="col">
    <router-outlet name="detail"></router-outlet>
  </div>
</div>
</div>
<app-equipodesarrollo-list></app-equipodesarrollo-list>
