<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Proyecto</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let i of proyectos">
						<td style="cursor: pointer;">
								<a class="figure-caption" (click)="onSelected(i.id)">{{i.nombre}}</a>
							</td>
                </tr>
            </tbody>
        </table>
    </div>