<div class="container-fluid">
    
        <div class="col-5">
            <div class="card-deck">
            <div class="card col" style="width: 18rem;"  *ngFor = "let x of proyectos ">
                <img src="https://www.clipartwiki.com/clipimg/detail/81-819300_coursed-clipart-art-project-business-clipart-transparent-background.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{x.nombre}}</h5>
                  <a class="figure-caption" routerLink="../../proyecto/{{x.id}}">Más información</a>
                </div>
              </div>
            </div>
      
    </div>