<div class="container-fluid">
  
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th> 
                    <th> Id</th>  
                    <th> Responsable</th>  
                    <th> Representante Del Cliente</th>  
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of casos">

                    <td style="cursor:pointer;">
                      <a class="figure-caption" routerLink="/casos/{{e.id}}">{{e.nombre}}</a>
                      </td>
                      <td> {{e.id}}</td>
                      <td> {{e.responsable.nombre}}</td>
                      <td> {{e.representanteDelCliente.nombre}}</td>
                     
                  
                </tr>
                
            </tbody>
        </table>
    </div>