<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th> 
                    <th> Id</th>  
                    <th> Servicios</th>  
                    <th> Pruebas</th>  
                    <th> Entidades</th>  
                    <th> Caminos de Excepción</th>  
                    <th> PosCondiciones</th>  
                    <th> PreCondiciones</th> 
                    <th> Caminos Alternos</th> 

                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of casos">

                    <td style="cursor:pointer;">
                      <a class="figure-caption" routerLink="/casos/{{e.id}}">{{e.nombre}}</a>
                      </td>
                      <td> {{e.id}}</td>
                      <td> {{e.servicios}}</td>
                      <td> {{e.pruebas}}</td>
                      <td> {{e.entidades}}</td>
                      <td> {{e.caminosExcepcion}}</td>
                      <td> {{e.posCondiciones}}</td>
                      <td> {{e.preCondiciones}}</td>
                      <td> {{e.caminosAlternos}}</td>
                  
                </tr>
                
            </tbody>
        </table>
    </div>