
<div class="container-fluid">
<div class= "row">


    <div class="card" style="width: 18rem;" *ngFor = "let e of casos">
            <img src="https://freerangestock.com/sample/38789/lightbulb-with-idea-concept-icon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><h2>{{e.nombre}}</h2></h5>
              <p class="card-text">{{e.documentacion}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>id:</b> {{e.id}}</li>
              <li class="list-group-item"><b>Responsable: </b>{{e.responsable.nombre}}</li>
              <li class="list-group-item"><b>Respresentante del Cliente:</b> {{e.representanteDelCliente.nombre}}</li>
            </ul>
            <div class="card-body">
              <a routerLink="/casos/{{e.id}}" class="card-link"><button type="button" class="btn btn-primary">Detalle</button></a>
            </div>
          </div>

        </div>

        </div>