<div class="col-md-12">
   <div class="container-fluid">
      <p class="h3 p-3"><b>Requisito:</b>&nbsp;{{requisitoDetail.nombre}}</p>
      <p class="p-3"><b>Autor:</b>&nbsp;{{requisitoDetail.autor}}</p>
      <p class="p-3"><b>Descripcion:</b>&nbsp;{{requisitoDetail.descripcion}}</p>
      <p class="p-3"><b>Importancia:</b>&nbsp;{{requisitoDetail.importancia}}</p>
      <p class="p-3"><b>Estabilidad:</b>&nbsp;{{requisitoDetail.estabilidad}}</p>
      <p class="p-3"><b>ComentariosAdicionales:</b>&nbsp;{{requisitoDetail.comentariosAdicionales}}</p>
      <p class="p-3"><b>Fuente:</b>&nbsp;{{requisitoDetail.fuente}}</p>
      <p class="p-3"><b>Tipo:</b>&nbsp;{{requisitoDetail.tipo}}</p>
   </div>
</div>