<div class="col-md-12">
   <div class="container-fluid">
      <ul class="list-group">
         <li class="list-group-item active"><p class="h3 p-3"><b>Requisito:</b>&nbsp;{{requisitoDetail.nombre}}</p></li>
         <li class="list-group-item"><p class="p-3"><b>Autor:</b>&nbsp;{{requisitoDetail.autor}}</p></li>
         <li class="list-group-item"><p class="p-3"><b>Descripción:</b>&nbsp;{{requisitoDetail.descripcion}}</p></li>
         <li class="list-group-item"><p class="p-3"><b>Importancia:</b>&nbsp;{{requisitoDetail.importancia}}</p></li>
         <li class="list-group-item"><p class="p-3"><b>Estabilidad:</b>&nbsp;{{requisitoDetail.estabilidad}}</p></li>
         <li class="list-group-item"><p class="p-3"><b>ComentariosAdicionales:</b>&nbsp;{{requisitoDetail.comentariosAdicionales}}</p></li>
         <li class="list-group-item"><p class="p-3"><b>Fuente:</b>&nbsp;{{requisitoDetail.fuente}}</p></li>
         <li class="list-group-item"><p class="p-3"><b>Tipo:</b>&nbsp;{{requisitoDetail.tipo}}</p></li>
      </ul>
   </div>
</div>