<form [formGroup]="desarrolladorForm" (ngSubmit)="createDesarrollador(desarrolladorForm.value)">
    <h3>Crear Desarrollador:</h3>
    <div class="form-group mx-sm-3 mb-2">
      <label for="name">
        nombre:
      </label>
      <input novalidate
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Nombre del Desarrollador">
     </div>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="casoForm.get('name').hasError('required') && 
        casoForm.get('name').touched">
        nombre requerido
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="correo">
          correo:
       </label>
        <input novalidate
        id="correo"
        class="form-control"
        formControlName="correo"
        placeholder="correo del desarrollador">
     </div>
        <div class="alert alert-danger alert-dismissible fade show" *ngIf="casoForm.get('correo').hasError('required') && 
        casoForm.get('correo').touched">
          correo requerido
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="edad">
              Edad:
          </label>
          <textarea class="form-control" id="edad" rows="3"
          formControlName="edad"
          placeholder="Edad del Desarrollador">
          </textarea>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" *ngIf="casoForm.get('edad').hasError('required') && 
        casoForm.get('edad').touched">
        edad requerida
        </div>
        <div class="form-group  mx-sm-3 mb-2">
          <label for="tipo">
              Tipo:
          </label>
          <input id="tipo" type="text"
          class="form-control"
          formControlName="tipo"
         placeholder="Tipo del desarrollador">
      </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="casoForm.get('tipo').hasError('required') && 
        casoForm.get('tipo').touched">
        tipo requerido
          </div>
          
          
          <button class="button mx-sm-3 mb-2" type="submit"
            [disabled]="desarrolladorForm.invalid" class="btn btn-success">Create</button>
  </form>