<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>    
                    <th>Nombre</th>    
                    <th>Correo</th>   
                    <th>Tipo</th>  
                    <th>Edad</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of desarrolladores">
                    <td>{{e.id}}</td>
                    <td style="cursor:pointer;">
                        <a class="figure-caption" routerLink="/desarrollador/{{e.id}}">{{e.nombre}}</a>
                        </td>
                    <td>{{e.correo}}</td>
                    <td>{{e.tipo}}</td>
                    <td>{{e.edad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
           