<div class="container-fluid">
    <div class= "row">
    
    
        <div class="card" style="width: 15rem;" *ngFor = "let e of desarrolladores">
                <img src="https://image.flaticon.com/icons/svg/265/265667.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><h2>{{e.nombre}}</h2></h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Identificación:</b> {{e.id}}</li>
                  <li class="list-group-item"><b>Correo: </b>{{e.correo}}</li>
                  <li class="list-group-item"><b>Tipo de Desarrollador:</b> {{e.tipo}}</li>
                  <li class="list-group-item"><b>Cedula:</b> {{e.cedula}}</li>
                </ul>
                <div class="card-body">
                  <a routerLink="../desarrollador/{{e.id}}" class="card-link"><button type="button" class="btn btn-primary">Detalle</button></a>
                </div>
              </div>
    
            </div>
    
            </div>