<p class="h4 p-3">

	<b>  Id: {{proyectoDetail.id}} <br> Proyecto: {{proyectoDetail.nombre}} </b> </p>

<p> <b> Fecha de inicio: </b> {{proyectoDetail.fechaInicial }}</p>
<p> <b> Fecha de fin: </b> {{proyectoDetail.fechaFinal }}</p>
<a routerLink="../../casos/list"><button type="button" class="btn btn-primary">Ver Casos de uso</button></a>
<a routerLink="../../requisito/list"><button type="button" class="btn btn-primary">Ver Requisitos</button></a>
<a routerLink="../../iteracion/list"><button type="button" class="btn btn-primary">Ver Iteraciones</button></a>